torchsummary    # https://github.com/sksq96/pytorch-summary
pytorch
torchmetrics    # https://torchmetrics.readthedocs.io/en/latest/
timm            # https://rwightman.github.io/pytorch-image-models/

Pillow
opencv-contrib-python
# if using SIFT in opencv-python
# pip install opencv-contrib-python==3.4.2.17 --force-reinstall
imutils # extension for opencv-python
imageio # open image with url
scikit-image
numpy
accimage    # high performance image loading and augmenting routines mimicking PIL.Image interface

# augment for ML
# https://www.facebook.com/VinBigdataTraining/posts/246123157524069
Augmentor
Albumentations
imgaug
Torchvision


# for this project
colorama
tqdm